<table class="bon-de-commande">
  <caption class="sr-only">Bon de commande (tous les prix sont en <abbr title="toutes taxes comprises">TTC</abbr>)</caption>
  <colgroup>
    <col width="55%">
    <col width="15%">
    <col width="15%">
    <col width="15%">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col" class="numeric">Prix unitaire</th>
      <th scope="col">Quantité</th>
      <th scope="col" class="numeric">Net à payer</th>
    </tr>
  </thead>
  <tbody>
    {% for book in collections.catalogue %}
    {%- set canBeSold = true if book.data.Etat == 'Disponible' else false -%}
    <tr data-price="{{ book.data.Prix if canBeSold else 0 | float }}" class="sr-only" data-book-index="{{ loop.index0 }}">
      <th scope="row">
        <a href="{{ book.url | url }}" rel="permalink">
          {{ book.data.Titre }}
        </a>
        <small class="depot-legal discrete" aria-hidden>{{ book.data.DépotLégal }}</small>
      </th>
      <td class="numeric">
        {{ ([book.data.Prix, ' €'] | join) if canBeSold else book.data.Etat }}
      </td>
      <td class="input">
        <input type="number" size="4" min="0" name="book[{{ loop.index0 }}]" data-index="{{ loop.index0 }}" {{ 'disabled' if canBeSold == false }} placeholder="0">
      </td>
      <td class="numeric">
        <output class="needs-js" id="price-{{ loop.index0 }}">0 €</output>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th scope="col" colspan="3">Frais de port</th>
      <td scope="col" class="numeric"><output class="needs-js" id="shipping-value">0 €</output></td>
    </tr>
    <tr>
      <th scope="col" colspan="3">Montant total de la commande</th>
      <td scope="col" class="numeric"><output class="needs-js" id="total-value">0 €</output></td>
    </tr>
    <tr class="sr-only">
      <th scope="col" colspan="4">
        <button class="do-print cta">Imprimer la page comme bon de commande</button>
      </th>
    </tr>
  </tfoot>
</table>
